@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.search-input {
  all: unset; /* Reset all default browser styles */
  /* width: 100%;
  padding-bottom: 0.5rem; */
  padding-left: 2rem; /* Space for the search icon */
  border-bottom: 1px solid #737e90;
  outline: none; /* Remove default focus outline */
}

.search-input:focus {
  border-bottom-color: #3b82f6; /* Tailwind's ring-blue-500 */
  box-shadow: 0 2px 0 #3b82f6; /* Add a subtle focus effect */
}

body {
  font-family: "Courier Prime", monospace;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8; /* Light background color */
  color: #333; /* Dark text color */
  line-height: 1.6; /* Improved readability */
}
